@font-face {
    font-family: "vazirmatn";
    src: url("./assets/Vazirmatn-Regular.ttf");
}

.btn-gradient{
    background: #2f536f;
    transition: all 0.5s;
    color: white;
    font-family: "vazirmatn";
}

.btn-gradient:hover{
    transform: scale(1.05);
    color: black;
}

.css-gradient-animation {
    background: #163044;
}

@-webkit-keyframes cssanimationgradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes cssanimationgradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes cssanimationgradient {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

body{
    font-family: "vazirmatn";
}

.nameInput{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.689);
    border: none;
    font-family: "vazirmatn";
}

.passwordInput{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.689);
    border: none;
    font-family: "vazirmatn";
}

.nameInput:focus{
    outline: none;
    transition: all 0.5s;
    transform: scale(1.03);
}

.passwordInput:focus{
    outline: none;
    transition: all 0.5s;
    transform: scale(1.03);
}

::placeholder{
    color: white;
    font-family: "vazirmatn";
}